<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список элементов:</title>
    <style>
        .search-form {
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
        }
        button {
            background-color: #3498db;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-align: center
        }
    </style>
</head>
<body>
    <h1>Поиск пользователя</h1>
    <div class = "search-form">
        <form method="GET">
            <input type="text" name = "username" placeholder="Введите имя пользователя" required>
            <button>Найти</button>
        </form>
    </div>
    <p><a href="{{ url_for('index') }}">Перейти на главную</a></p>
    <p><a href="{{ url_for('items') }}">Список элементов</a></p>
</body>
</html>